 .header {
     height: 60px;
     display: flex;
     align-items: center;
     background-color: #131921;
     position: sticky;
     top: 0;
     z-index: 100;
 }

 .header__logo {
     width: 100px;
     object-fit: contain;
     margin: 0 20px;
     margin-top: 18px;
     color: lightgray;
}

.header__logo:hover{
    transform: scale(1.1);
}


.header__search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
 

}

.btn{
    padding: 8px ;
    background-color: #cd9042;
    border: black;
    border-radius: 15px;
    
    
}


.Search {
    width: 90%;
    height: 12px;
    padding: 10px;
    border: black;
    border-radius: 15px;

}

.header__optionLineOne {
    font-size: 10px;

}


.header__optionLineTwo {
    font-size: 13px;
    font-weight: 800;
}

.header__basketOption {
    display: flex;
    align-items: center;
    color: white;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.header__option:hover{
    transform: scale(1.1);
    color: aqua
}

